.vanillaa-weather-app {
  padding: 20px;
  margin-top: 30px;
  border: 1px solid #939496;
  border-radius: 30px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
small {
  margin-left: 30px;
}
.overview {
  margin-bottom: 40px;
}

.weather-temperature img {
  margin-right: 20px;
  float: 32px;
  width: 32px;
  height: 32px;
}

.main-temperature {
  font-size: 64px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.data {
  margin-top: 0px;
  margin-left: 0px;
}

.weather-temperature-units {
  font-size: 16px;
  position: relative;
  top: -36px;
}
